/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* line-height: 1.7; */
  background: #f5f7fa;
  color: #2d2d2d;
  padding: 0;
  margin-top: 5px;
  /* overflow: hidden; */
}

/* Header */
header {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: rgb(81, 78, 78);
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

header h1 {
  font-size: 0.1rem;
  font-weight: 10;
  margin: 0;
  margin-top: 10px;
}

/* Content */
main {
  max-width: 700px;
  margin: 2px auto;
  padding: 2px;
  background: white;
  border-radius: 2px;
  font-size: 0.2rem;
  /* line-height: 1.8; */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}

h2 {
  color: #4f46e5;
  margin: 1em 0 0.4em;
  font-size: 0.3rem;
  border-left: 4px solid #4f46e5;
  padding-left: 5px;
}

p {
  margin-bottom: 0.3em;
  color: #444;
  background: #f9fafb;
  padding: 3px;
  border-radius: 8px;
}

/* Links */
a {
  color: #4f46e5;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #3730a3;
}

/* Footer */
footer {
  text-align: center;
  padding: 2px;
  background: #f3f4f6;
  color: #555;
  font-size: 0.3rem;
  margin-top: 3px;
  border-top: 1px solid #e5e7eb;
}

@media (max-width: 500px) {
  h1 {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 0.3rem;
  }
  main {
    padding: 2px;
    font-size: 0.3rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 0.3rem;
  }
  main {
    padding: 3px;
    font-size: 0.3rem;
  }
  p {
    font-size: 0.3rem;
  }
}
