/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 700px; */
  /* margin-left: 150px; */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* line-height: 1.7; */
  background: #f4f6fb;
  /* max-width: 1700px; */
  /* text-align: center; */
  color: #2d2d2d;
  overflow: hidden;
}

/* Header */
header {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

/* Content */
main {
  max-width: 700px;
  margin: 5px auto;
  padding: 5px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
  font-size: 0.7rem;
  /* line-height: 1.8; */
}

h2 {
  color: #4f46e5;
  margin: 1.1em 0 0.4em;
  font-size: 0.7rem;
  border-left: 4px solid #6366f1;
  padding-left: 5px;
}

p,
label,
.label {
  font-size: 0.5rem;
  color: #444;
  margin-bottom: 0.7em;
  display: block;
}

/* Links */
a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

a:hover {
  color: #1e1b4b;
}

/* Footer */
footer {
  text-align: center;
  padding: 5px;
  background: #f3f4f6;
  color: #555;
  font-size: 0.5rem;
  margin-top: 5px;
  border-top: 1px solid #e5e7eb;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.1rem;
  }
  h2 {
    font-size: 0.7rem;
  }
  main {
    padding: 5px;
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.5rem;
  }
  main {
    padding: 5px;
    font-size: 0.6rem;
  }
  p {
    font-size: 0.6rem;
  }
}
